@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-Light.eot');
    src: url('~@/assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Montserrat-Light.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-ExtraLight.eot');
    src: url('~@/assets/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-Bold.eot');
    src: url('~@/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-ExtraBold.eot');
    src: url('~@/assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-Thin.eot');
    src: url('~@/assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Montserrat-Thin.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

